beautifulsoup4==4.10.0
requests==2.26.0
colorama==0.4.3
bs4 >= 0.0.1
requests >= 2.0.0
$ git clone https://github.com/wangoloj/python3-nmap.git
$ pip3 install -r requirements.txt
$ apt-get install nmap
pip install bs4
pip install requests